<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiemj.dao.TestDao">
    <!--目的：为Dao接口方法提供SQL语句-->
    <select id="queryList" resultType="java.util.Map">
        SELECT * FROM company LIMIT 0,1
    </select>

</mapper>